
.container {
  max-width: 768px;
  margin: 0 auto;
  padding-top: 3em;
}
button.btn-timer {
  display: table;
  margin: 0 auto;
}
.display-none {
  display: none !important;
}
button.btn-next-iteration {
  margin-top: 2em;
}
.hidden-player {
  position: absolute;
  top: -3000em;
}
.margin-auto {
  display: table;
  margin: 0 auto;
}
.pomodoro__time-hours-value {}
.pomodoro__time-minutes-value {}
.pomodoro__time-hours-value, .pomodoro__time-minutes-value, .pomodoro__time-seconds-value,  {
  padding: 4px 8px 3px 8px;
  margin: 0 12px 0 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.pomodoro__working-time {
  span {
    color: green;
    display: inline-block;
    font-family: 'Plaster', cursive;
  }
}
.pomodoro__break-time {
  
  span {
    color: red;
    display: inline-block;
  }
}
.rotate-animation-true {
    animation: counterBackAnimation 0.5s;
}
.rotate-animation-false {
    animation: counterBackAnimationBack 0.5s;
}
.calendar__event-title-online + .counter__container .counter__back-value {
    color: #4eaf46;
}

@keyframes counterBackAnimation {
    0% {
        transform: rotate3d(1,0,0,0deg);
    }
    100% {
        transform: rotate3d(1,0,0,360deg);
    }	
}
@keyframes counterBackAnimationBack {
    0% {
        transform: rotate3d(1,0,0,0deg);
    }
    100% {
        transform: rotate3d(1,0,0,360deg);
    }	
}